VITE_PUBLIC_URL=http://localhost:3001
DATABASE_URL=postgres://postgres:postgres@localhost:5432/flux_finances

BETTER_AUTH_URL=http://localhost:3001 # Base URL of your app
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

IS_CLOUD=false

# Polar.sh Payment Configuration
POLAR_ACCESS_TOKEN=
POLAR_PRODUCT_ID=
POLAR_MODE=sandbox
POLAR_WEBHOOK_SECRET=
